#ua-doc-page-home{
	header{
		text-align: center;
		padding-top: 5em;
		h1{font-size: 2.5em;}
		p{font-size: 1.5em;
			color:$c-main-light;
		}
	}
	.gh-btns{
		li{
			display:inline-block;
			iframe{
				width:140px;
			}
		}
	}
}