// import ui awesome
@import '../../src/_scss/angular-ui-awesome.scss';


html,body{
	height:100%;
}
// doc styles here:
#ua-doc-side-nav{
	width:300px;
	height: 100%;
	background: red;
}

#ua-doc-main{

}