@import 'reset.scss';
@import '_color_palette.scss';
@import '_mixins.scss';
@import '_layout.scss';

@import 'common_style.scss';

@import '../toggle/toggle.scss';
@import '../loader/loader.scss';
@import '../loader/loader2.scss';
@import '../link/link.scss';
@import '../words/words.scss';
@import '../button/button.scss';
@import '../inputbox/inputbox.scss';
@import '../notify/notify.scss';