<style>
	.ua-demo-inputs .demos{
		font-size: 24px;
	}
	.ua-demo-inputs .uac-input{
		display: block;
	}
</style>
<div class="ua-demo-inputs" >
	<header>
		<coding lan="markup">
&lt;ua-input ua-label="theme: nao" ua-theme="nao" ng-model="someval" required >&lt;/ua-input>
&lt;ua-input ua-label="theme: shoko" ng-model="test" ua-theme="shoko">&lt;/ua-input>
&lt;ua-input ua-label="theme: kozakura" ng-model="test" ua-theme="kozakura">&lt;/ua-input>
&lt;ua-input ua-label="theme: manami" ua-theme="manami" ng-model="someval" required >&lt;/ua-input>
...
		</coding>
	</header>
	<h3>{{someval}}</h3>
	<div class="demos">
		<ua-input ua-label="theme: nao" ua-theme="nao" ng-model="someval" required ></ua-input>
		
		<ua-input ua-label="theme: shoko" ng-model="test" ua-theme="shoko"></ua-input>
		
		<ua-input ua-label="theme: kozakura" ng-model="test" ua-theme="kozakura"></ua-input>

		<ua-input ua-label="theme: manami" ua-theme="manami" ng-model="someval" required ></ua-input>
	
		<ua-input ua-label="theme: nariko" ua-theme="nariko"></ua-input>
		
		<br>
		<ua-input ua-label="theme: yoshiko" ua-theme="yoshiko"></ua-input>
		<br><br>

		<ua-input ua-label="theme: chisato" ua-theme="chisato"></ua-input>
		<br>
		<br>
		<ua-input ua-label="theme: ruri" ua-theme="ruri"></ua-input>



		

	

	</div>
</div>